[Desktop Entry]
Version=1.0
Name=Geotool
Exec=/opt/ctbto/idc/geotoo/bin/./geotool
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Actions=NewWindow;

Name[en_US]=geotool.desktop
