[Desktop Entry]
Version=1.0
Name=dtkpmccscr
Exec=/opt/ctbto/idc/dtk-pmcc/share/dtkgpmcc/scripts/./dtkpmcc
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Actions=NewWindow;

Name[en_US]=geotool.desktop 
